body{ 
  background-color: white;
}
body:hover{
  background-color:powderblue;
  
}
h1:hover{
 color:#66BFBF ; 
}
h1{
color:black;

}
h2:hover{
  color:#66BFBF ;
}
h2{
color:black;
}

hr{

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
